// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "components/**/*";

@mixin placeholder ($color: $blanco) {
    &:-moz-placeholder {
        color: $color;
    }
     &:-ms-input-placeholder {
        color: $color;
     }
     &::-webkit-input-placeholder {
        color: $color;
     }
}
@mixin transitions {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
a, input, li, textarea, select {@include transitions; text-decoration: none; outline: none;}
ul, ol{
    padding: 0; margin: 0;
    li{list-style-type: none;}
}
html{
	overflow-x: hidden;
}
body{
	overflow-x: hidden;
}

header{
    //Logo
    .l-branding{
        .logo{
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            a.site-logo{
                position: fixed;
                z-index: 500;
                top: -1px;
            }
        }
    }
    //Datos de Contacto Rápido
    .l-region--branding{
        width: 100%;
        background: url(../images/header/green-background.png) center no-repeat;
        background-size: cover;
        padding: 21px 0;
        padding-bottom: 9px;
        #block-block-1{
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            text-align: right;
            ul{
                padding: 0;
                margin: 0 60px 0 0;
                list-style: none;
                display: inline-block;
                width: auto;
                li{
                    display: inline-block;
                    width: auto;
                    margin: 0 20px;
                    font: 300 17px $Roboto;
                    color: $beige;
                    padding: 3px 0 0 36px;
                    a{
                        color: $beige;
                        pointer-events: none;
                    }
                    &:nth-child(1){
                        background: url(../images/header/mail-icon.png) center left no-repeat;
                    }
                    &:nth-child(2){
                        background: url(../images/header/whatsapp-icon.png) center left no-repeat;
                    }
                }
            }
            ol{
                padding: 0;
                margin: 0 150px 0 0;
                list-style: none;
                display: inline-block;
                width: auto;
                float: right;
                li{
                    a{
                        float: left;
                        font-size: 0;
                        background: url(../images/header/facebook-icon.png) center no-repeat;
                        width: 27px;
                        height: 27px;
                        margin: 0;
                        margin-top: 2px;
                        @include transitions;
                        &:hover{
                            background: url(../images/header/facebook-icon-hover.png) center no-repeat;
                        }
                    }
                }
            }
        }
    }
    //Fondo cielo
    .menu{
        float: left;
        width: 100%;
        background: url(../images/header/sky-background.png) center bottom no-repeat;
        background-size: cover;
        line-height: 0;
        //Formulario y traductor
        .l-region--header{
            max-width: 1440px;
            width: 100%;
            margin: 0 auto;
            text-align: right;
            position: relative;
            #block-gtranslate-gtranslate{
                display: inline-block;
                margin: 0 20px 0 0;
                .block__content{
                    width: 255px;
                    height: 34px;
                    background: #ef5a24;
                    padding: 0 0 0 16px;
                    text-align: left;
                    position: relative;
                    &:before{
                        position: absolute;
                        content: '';
                        width: 51px;
                        height: 34px;
                        top: 0;
                        right: 0;
                        background: url(../images/header/list-arrow-orange.png) center right no-repeat;
                        pointer-events: none;
                    }
                    select{
                        width: 100%;
                        height: 100%;
                        border: none;
                        background: none;
                        font: 300 18px $Roboto;
                        color: $blanco;
                        cursor: pointer;
                    }
                }
            }
            #block-block-4{
                display: inline-block;
                margin: 0 150px 0 0;
                float: right;
                .block__content{
                    width: 255px;
                    height: 34px;
                    padding: 8px 0 0 16px;
                    text-align: left;
                    background: $azul url(../images/header/list-arrow.png) center right no-repeat;
                    p{
                        margin: 0;
                        font: 300 18px $Roboto;
                        color: $blanco;
                        a{
                            color: $blanco;
                            padding-right: 140px;
                        }
                    }
                }
            }
            #block-webform-client-block-16{
                display: none;
                position: absolute;
                z-index: 500;
                width: 255px;
                right: 150px;
                background: $blanco;
                border: solid 2px $azul;
                .messages--error{
                    margin: 18px;
                    text-align: left;
                    line-height: 20px;
                    font: 200 16px $Roboto;
                    color: $gris;
                }
                h2{
                    display: none;
                }
                .webform-client-form{
                    width: 215px;
                    float: left;
                    margin: 18px;
                    .webform-component-textfield, .webform-component-email{
                        margin-left: 0;
                        margin-bottom: 14px;
                        color: $blanco;
                        input{
                            width: 100%;
                            height: 32px;
                            background: $azul;
                            border: none;
                            font: 200 16px $Roboto;
                            color: $blanco;
                            padding: 5px 10px;
                            @include placeholder;
                        }
                    }
                    .webform-component-textarea{
                        textarea{
                            width: 100%;
                            max-width: 100%;
                            max-height: 80px;
                            height: 80px;
                            background: $azul;
                            border: none;
                            font: 200 16px $Roboto;
                            color: $blanco;
                            padding: 5px 10px;
                            @include placeholder;
                        }
                    }
                    .form-actions{
                        margin: 0 auto;
                        width: 129px;
                        height: 32px;
                        text-align: left;
                        position: relative;
                        &:before{
                            position: absolute;
                            width: 32px;
                            height: 32px;
                            content: '';
                            right: 0;
                            top: 0;
                            background: url(../images/contactenos/send-icon.png) center right no-repeat;
                            @include transitions;
                        }
                        input{
                            background: $verdeClaro;
                            font: 200 16px $Roboto;
                            text-transform: uppercase;
                            width: 100%;
                            height: 100%;
                            color: $blanco;
                            padding: 0 22px;
                            text-align: left;
                            border: none;
                        }
                        &:hover{
                            input{
                                background: $naranja;
                            }
                            &:before{
                                background: url(../images/contactenos/send-icon.png) center left no-repeat;
                            }
                        }
                    }
                }
                .webform-confirmation{
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    h2{
                        font: 600 28px $Roboto;
                        color: $verdeClaro;
                    }
                    p{
                        font: 300 16px $Roboto;
                        color: $gris;
                    }
                }
                .links{
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    margin: 10px 0 25px 0;
                    a{
                        background: $verdeClaro;
                        font: 300 16px $Roboto;
                        text-transform: uppercase;
                        color: $blanco;
                        padding: 5px 20px;
                        border: solid 1px $verdeClaro;
                        @include transitions;
                        &:hover{
                            background: $blanco;
                            color: $verdeClaro;
                        }
                    }
                }
            }
        }
        //Menú
        .l-region--navigation{
            width: 100%;
            margin: 0 auto;
            text-align: center;
            float: left;
            #block-superfish-1{
                display: inline-block;
                margin-top: 15px;
                ul{
                    li{
                        padding: 0 45px;
                        a{
                            font: 300 18px $Roboto;
                            color: $naranja;
                            padding: 15px 21px 14px 21px;
                            display: inline-block;
                            text-transform: uppercase;
                            @include transitions;
                            &:hover{
                                color: $blanco;
                                background: $naranja;
                            }
                        }
                    }
                    li.active-trail{
                        a{
                            color: $blanco;
                            background: $naranja;
                        }
                    }
                }
            }
        }
        .fixed-menu{
            position: fixed;
            top: 0;
            z-index: 300;
            background: $verdeClaro;
            height: 50px;
            #block-superfish-1{
                margin-top: 0;
                ul{
                    background: none;
                    li{
                        a{
                            color: $blanco;
                        }
                    }
                }
            }
        }
    }
}
//Usuario login
.page-user{
    .l-main{
        .l-content{
            h1{
                padding-left: 192px;
                margin-right: 192px;
            }
        }
    }
}
//Página de confirmación formulario rápido
.page-node-16{
    .l-main{
        .l-content{
            h1{
                padding-left: 270px;
                margin-right: 270px;
            }
            .webform-confirmation{
                width: 100%;
                display: inline-block;
                text-align: center;
                h2{
                    font: 600 28px $Roboto;
                    color: $verdeClaro;
                }
                p{
                    font: 300 16px $Roboto;
                    color: $gris;
                }
            }
            .links{
                width: 100%;
                display: inline-block;
                text-align: center;
                margin: 30px 0 50px 0;
                a{
                    background: $verdeClaro;
                    font: 300 20px $Roboto;
                    text-transform: uppercase;
                    color: $blanco;
                    padding: 5px 20px;
                    border: solid 1px $verdeClaro;
                    @include transitions;
                    &:hover{
                        background: $blanco;
                        color: $verdeClaro;
                    }
                }
            }
        }
    }
}
//Banner
.l-region--highlighted{
    text-align: center;
    line-height: 0;
    #block-views-banner-block{
        display: inline-block;
        visibility: hidden;
        .bx-wrapper{
            margin: 0;
            max-width: none !important;
            width: 1920px;
            .bx-viewport{
                margin: 0;
                padding: 0;
                box-shadow: none;
                background: none;
                left: 0;
                border: 0;
                position: relative;
                height: 553px !important;
                ul {
                    li{
                        .views-field-body{
                            width: 100%;
                            margin: 0 auto;
                            position: absolute;
                            bottom: 240px;;
                            .field-content{
                                width: 964px;
                                background: rgba(51, 89, 28, 0.6);
                                padding: 15px 20px 15px 40px;
                                position: relative;
                                float: right;
                                text-align: left;
                                h2, h3, h4, h5, h6{
                                    margin: 0;
                                    color: $blanco;
                                    text-transform: uppercase;
                                    font: 600 33px $Roboto;
                                    margin-bottom: 5px;
                                    a{
                                        color: $blanco;
                                    }
                                }
                                p{
                                    margin: 0;
                                    color: $blanco;
                                    font: 300 21px $Roboto;
                                    a{
                                        color: $blanco;
                                    }
                                }
                            }
                        }
                        .views-field-field-link{
                            a{
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                font-size: 0;
                                z-index: 5;
                            }
                        }
                    }
                }
            }
            .bx-controls{
                .bx-pager{
                    display: inline-block;
                    position: absolute;
                    bottom: 26px;
                    left: 0;
                    .bx-pager-item{
                        a{
                            width: 60px;
                            height: 15px;
                            margin: 0 5px;
                            background: rgba(255, 255, 255, 0.6);
                            border-radius: 10px;
                            position: relative;
                            &:hover{
                                background: rgba(255, 255, 255, 1);
                            }
                        }
                        a.active{
                            background: rgba(255, 255, 255, 1);
                        }
                    }
                }
                .bx-controls-direction{
                    a{
                        background-size: contain;
                        width: 33px;
                        height: 108px;
                        top: 66%;
                    }
                    .bx-prev{
                        background: url(../images/banner/prev-control.png) center no-repeat;
                        left: 2%;
                    }
                    .bx-next{
                        background: url(../images/banner/next-control.png) center no-repeat;
                        right: 2%;
                    }
                }
            }
        }
    }
}
//Texto Bienvenida Quienes Somos Por Qué Nosotros
.l-region--help{
    width: 100%;
    background: url(../images/quienes-somos/background.png) center no-repeat;
    background-size: cover;
    float: left;
    padding: 20px 0;
    #block-block-2{
        max-width: 780px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        h2, h3, h4, h5, h6{
            margin: 20px 0;
            color: $blanco;
            font: 500 36px $Roboto;
        }
        .block__content{
            p{
                color: $blanco;
                font: 300 15px $Roboto;
                line-height: 30px;
            }
        }
    }
}
//Título y content
.l-main{
    text-align: center;
    .l-content{
        width: 100%;
        max-width: 1024px;
        display: inline-block;
        >h1{
            font: 700 33px $Roboto;
            color: $azul;
            background: url(../images/title.png) center bottom no-repeat;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 27px;
            margin-top: 60px;
        }
    }
}
//Vista Ofertas Destacadas
#block-block-5{
    width: 100%;
    position: relative;
    height: 139px;
    display: inline-block;
    &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: url(../images/servicios-destacados/phone-background.png) center top no-repeat;
        background-size: contain;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .block__content{
        margin-top: 46px;
        p{
            font: 300 19px $Roboto;
            margin: 0;
            color: $blanco;
            line-height: 17px;
            strong{
                font: 500 19px $Roboto;
            }
        }
    }
}
#block-views-outstanding-offers-block{
    width: 100%;
    margin: 0 auto;  
    text-align: center;
    .block__title {
        max-width: 800px;
        display: inline-block;
        text-align: center;
        color: $verdeOscuro;
        font: 700 28px $Roboto;
        line-height: 37px;
        margin-top: 30px;
    }
    .block__content{
        text-align: center;
        display: table;
        .views-row{
            width: 480px;
            vertical-align: top;
            margin: 40px 14px;
            display: inline-block;
            .views-field-field-images{
                line-height: 0;
                position: relative;
                &:before{
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 0;
                    left: 50%;
                    top: 50%;
                    background: rgba(0, 0, 0, 0.6);
                    @include transitions;
                    pointer-events: none;
                }
                &:after{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: url(../images/servicios-destacados/see-more-picture.png) center no-repeat;
                    top: 0;
                    left: 0;
                    content: '';
                    opacity: 0;
                    @include transitions;
                    pointer-events: none;
                }
            }
            .views-field-title{
                width: 100%;
                background: $verdeClaro;
                text-align: left;
                span{
                    a{
                        font: 700 25px $Roboto;
                        color: rgba(0, 0, 0, 0.6);
                        padding: 5px 24px 0 24px;
                        display: inline-block;
                        width: 100%;
                    }
                }
            }
            .views-field-body{
                display: inline-block;
                float: left;
                background: rgba(98, 163, 69, 0.8);
                width: 401px;
                height: 76px;
                padding: 8px 14px 8px 21px;
                h2, h3, h4, h5, h6, li{
                    display: none;
                }
                p{
                    font: 300 14px $Roboto;
                    color: $blanco;
                    text-align: left;
                    margin: 0;
                    line-height: 20px;
                }
            }
            .views-field-view-node{
                width: 79px;
                height: 76px;
                display: inline-block;
                float: left;
                span{
                    a{
                        font-size: 0;
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                        float: left;
                        background: url(../images/servicios-destacados/see-more-icon.png) top center no-repeat;
                    }
                }
            }
            &:hover{
                .views-field-field-image{
                    &:before{
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                    }
                    &:after{
                        opacity: 1;
                    }
                }
                .views-field-view-node{
                    a{
                        background: url(../images/servicios-destacados/see-more-icon.png) bottom center no-repeat;
                    }
                }
                .views-field-title{
                    span{
                        a{
                            color: rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
        }
    }
}
//footer
.l-region--footer{
    width: 100%;
    background: url(../images/footer/background.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    #block-block-3{
        width: 100%;
        max-width: 1024px;
        display: inline-block;
        position: relative;
        ul{
            width: 640px;
            margin-top: 60px;
            display: inline-block;
            float: left;
            li{
                padding: 4px 0 0 35px;
                font: 300 17px $Roboto;
                color: $beige;
                width: 100%;
                margin-bottom: 21px;
                text-align: left;
                a{
                    color: $beige;
                }
                &:nth-child(1){
                    background: url(../images/footer/location-icon.png) center left no-repeat;
                }
                &:nth-child(2){
                    background: url(../images/footer/mail-icon.png) center left no-repeat;
                }
                &:nth-child(3){
                    background: url(../images/footer/whatsapp-icon.png) center left no-repeat;
                }
            }
        }
        ol{
            width: 640px;
            margin: 15px 0 61px 30px;
            display: inline-block;
            float: left;
            li{
                a{
                    display: inline-block;
                    font-size: 0;
                    float: left;
                    width: 45px;
                    height: 45px;
                    background: url(../images/footer/facebook-icon.png) center no-repeat;
                    &:hover{
                        background: url(../images/footer/facebook-icon-hover.png) center no-repeat;
                    }
                }
            }
        }
        p{
            margin: 0;
            height: 275px;
            width: 275px;
            border-radius: 100%;
            overflow: hidden;       
            position: relative;
            top: 19px;
            left: 0;
            &:before{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background: url(../images/footer/map-hover.png) center no-repeat;
                left: 0;
                top: 0;
                opacity: 1;
                pointer-events: none;
                @include transitions;
            }
            &:hover{
                &:before{
                    opacity: 0;
                }
            }
        }
    }
}
.copy{
    float: left;
    width: 100%;
    background: $verdeClaro;
    text-align: center;
    padding: 5px 0 0 0;
    span{
        display: inline-block;
        a{
            font: 300 14px $Roboto;
            color: $blanco;
            display: table-cell;
            vertical-align: middle;
            img{float: right; margin-left: 5px;}
            &:hover{
                color: $verdeOscuro;
            }
        }
    }
}
//Tours Vista
.page-tours{
    .l-main{
        .l-content{
            .view-tours{
                width: 100%;
                .view-content{
                    display: inline-block;
                    margin-bottom: 20px;
                    .views-row{
                        width: 460px;
                        display: inline-block;
                        margin: 0 26px 30px 26px;
                        float: left;
                        .views-field-field-images{
                            line-height: 0;
                            position: relative;
                            &:after{
                                position: absolute;
                                content: '';
                                width: 100%;
                                height: 100%;
                                background: rgba(0, 0, 0, 0.5) url(../images/tours/image-hover.png) center no-repeat;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                pointer-events:none;
                                @include transitions;
                            }
                        }
                        .views-field-title{
                            width: 100%;
                            display: inline-block;
                            float: left;
                            position: relative;
                            span{
                                a{
                                    width: 100%;
                                    display: inline-block;
                                    text-align: left;
                                    background: $naranja;
                                    color: rgba(255, 255, 255, 0.7);
                                    font: 400 25px $Roboto;
                                    padding:0 10px 10px 20px;
                                    margin: 0;
                                }
                            }
                            &:before{
                                position: absolute;
                                content: '';
                                width: 459px;
                                height: 32px;
                                top: -32px;
                                left: 0;
                                background: url(../images/tours/title-rotule.png) center bottom no-repeat;
                                background-size: cover;
                            }
                        }
                        .views-field-body{
                            display: inline-block;
                            width: 397px;
                            float: left;
                            height: 64px;
                            overflow: hidden;
                            background: rgba(94, 137, 65, 0.8);
                            padding: 10px 10px 10px 20px;
                            h2, h3, h4, h5, h6{
                                display: none;
                            }
                            p{
                                margin: 0;
                                font: 300 14px $Roboto;
                                color: $blanco;
                                text-align: left;
                                line-height: 22px;
                                strong, em, a{
                                    font: 300 14px $Roboto;
                                }
                            }
                        }
                        .views-field-view-node{
                            width: 63px;
                            height: 64px;
                            display: inline-block;
                            float: left;
                            span{
                                a{
                                    width: 100%;
                                    height: 100%;
                                    display: inline-block;
                                    background: url(../images/tours/watch-more-icon.png) center top no-repeat;
                                    font-size: 0;
                                    float: left;
                                }
                            }
                        }
                        &:hover{
                            .views-field-field-images{
                                &:after{
                                    opacity: 1;
                                }
                            }
                            .views-field-title{
                                span{
                                    a{
                                        color: $blanco;
                                    }
                                }
                            }
                            .views-field-view-node{
                                span{
                                    a{
                                        background: url(../images/tours/watch-more-icon.png) center bottom no-repeat;
                                    }
                                }
                            }
                        }
                    }
                }
                .pager {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 30px;
                    .pager__item {
                        padding: 1px;
                        margin: 0 5px;
                        a{
                            color: $gris;
                            font: 300 14px $Roboto;
                            transition: all .3s;
                        }
                        a:hover {
                            color: $verdeClaro;
                        }
                    }
                    .pager__item--current {
                        color: $verdeOscuro;
                        font: 500 14px $Roboto !important;
                        border-bottom: solid 2px $verdeOscuro;
                    }
                }
            }
        }
    }
}
//Tour Detalle
.node-type-tour{
    .l-main{
        .l-content{
            h2.node__title{
                font: 500 24px $Roboto;
                color: $azul;
                margin: 20px 0;
            }
            .node__content{
                margin-bottom: 50px;
                .field--name-body{
                    width: 670px;
                    margin: 0 auto;
                    p{
                        font: 200 16px $Roboto;
                        color: $gris;
                        line-height: 36px;
                        strong {
                            color: $naranja;
                            font-weight: bold;
                        }
                        em{
                            color: $naranja;
                            font-style: italic;
                        }
                    }
                }
                #field_images{
                    margin-bottom: 30px;
                    .bx-wrapper{
                        margin-bottom: 20px;
                        &:nth-child(1){
                            .bx-viewport{
                                margin-bottom: 20px;
                                ul{
                                    li{
                                        position: relative;
                                        &:before{
                                            position: absolute;
                                            content: '';
                                            width: 100%;
                                            height: 100%;
                                            background: url(../images/tours-detalle/main-image-filter.png) center no-repeat;
                                            top: 0;
                                            left: 0;
                                            pointer-events:none;
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-child(2){
                            .bx-viewport{
                                ul{
                                    li{
                                        position: relative;
                                        img{
                                            opacity: 1;
                                        }
                                        &:before{
                                            position: absolute;
                                            content: '';
                                            width: 100%;
                                            height: 100%;
                                            background: rgba(102, 168, 222, 0.5);
                                            top: 0;
                                            left: 0;
                                            pointer-events:none;
                                            @include transitions;
                                        }
                                        &:hover{
                                            &:before{
                                                background: rgba(102, 168, 222, 0.3);
                                            }
                                        }
                                    }
                                    li.active{
                                        &:before{
                                            opacity: 0;
                                        }
                                    }
                                }
                            }
                        }
                        .bx-has-controls-direction{
                            .bx-controls-direction{
                                a{
                                    top: 55%;
                                }
                                .bx-prev{
                                    left: -56px;
                                    width: 26px;
                                    height: 26px;
                                    background: url(../images/tours-detalle/prev-control.png) center left no-repeat;
                                    @include transitions;
                                    &:hover{
                                        background: url(../images/tours-detalle/prev-control.png) center right no-repeat;
                                    }
                                }
                                .bx-next{
                                    right: -46px;
                                    width: 26px;
                                    height: 26px;
                                    background: url(../images/tours-detalle/next-control.png) center right no-repeat;
                                    @include transitions;
                                    &:hover{
                                        background: url(../images/tours-detalle/next-control.png) center left no-repeat;
                                    }
                                }
                            }
                        }
                    }
                }
                .field--name-field-tour-information{
                    p{
                        font: 200 16px $Roboto;
                        color: $gris;
                        margin: 0 0 20px 0;
                        strong{
                            font-weight: bold;
                            color: $naranja;
                            text-transform: uppercase;
                        }
                    }
                }
                .field--name-field-specifications{
                    p{
                        margin-top: 30px;
                        font: 200 16px $Roboto;
                        color: $gris;
                        text-align: left;
                        strong{
                            color: $naranja;
                            font-weight: bold;
                        }
                    }
                    ul{
                        column-count: 2;
                        li{
                            margin-bottom: 14px;
                            line-height: 30px;
                            padding-top: 3px;
                            font: 200 16px $Roboto;
                            color: $gris;
                            text-align: left;
                            position: relative;
                            padding-left: 25px;
                            background: url(../images/bullet.png) center left no-repeat;
                        }
                    }
                }
            }
            .back-button{
                margin-bottom: 50px;
                a{
                    display: inline-block;
                    padding: 27px 7px 0 0;
                    width: 100px;
                    height: 90px;
                    font: 700 13px $Roboto;
                    color: $naranja;
                    text-transform: uppercase;
                    background: url(../images/back-button.png) center no-repeat;
                    position: relative;
                    &:before{
                        position: absolute;
                        content: '';
                        width: 0;
                        height: 100%;
                        background: url(../images/back-button-hover.png) center right no-repeat;
                        pointer-events:none;
                        bottom: 0;
                        right: 0;
                        @include transitions;
                    }
                    &:hover{
                        color: $azul;
                        &:before{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
//Ofertas Vista
.page-ofertas{
    .l-main{
        .l-content{
            h1{
                padding-left: 12px;
                margin-right: 12px;
            }
            .view-outstanding-offers{
                width: 100%;
                text-align: center;
                .view-content{
                    display: inline-block;
                    .views-row{
                        width: 775px;
                        display: inline-block;
                        margin-bottom: 30px;
                        .views-field-field-images{
                            display: inline-block;
                            line-height: 0;
                            position: relative;
                            &:before{
                                position: absolute;
                                content: '';
                                width: 157px;
                                height: 157px;
                                top:0;
                                z-index: 3;
                                pointer-events:none;
                            }
                            .field-content{
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                                position: relative;
                                &:before{
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    background: rgba(241, 90, 36, 0.5) url(../images/ofertas/image-hover.png) center no-repeat;
                                    top: 0;
                                    left: 0;
                                    opacity: 0;
                                    pointer-events:none;
                                    @include transitions;
                                }
                            }
                        }
                        .views-fieldset{
                            display: table-cell;
                            vertical-align: bottom;
                            width: 394px;
                            height: 233px;
                            .views-field-title{
                                padding: 12px 12px 12px 20px;
                                text-align: left;
                                span{
                                    a{
                                        font: 500 21px $Roboto;
                                        color: $naranja;
                                    }
                                }
                            }
                            .views-field-body{
                                width: 332px;
                                height: 110px;
                                background: $verdeClaro;
                                padding: 12px 12px 12px 20px;
                                h2, h3, h4, h5, h6{
                                    display: none;
                                }
                                p{
                                    font: 200 16px $Roboto;
                                    color: $blanco;
                                    margin: 0;
                                    line-height: 22px;
                                    strong, em{
                                        font: 200 16px $Roboto;
                                    }
                                }
                            }
                            .views-field-view-node{
                                display: inline-block;
                                span{
                                    a{
                                        width: 62px;
                                        height: 110px;
                                        background: url(../images/ofertas/watch-more-icon.png) center top no-repeat;
                                        font-size: 0;
                                        float: left;
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                        &:hover{
                            .views-field-field-images{
                                .field-content{
                                    &:before{
                                        opacity: 1;
                                    }
                                }
                            }
                            .views-field-view-node{
                                span{
                                    a{
                                        background: url(../images/ofertas/watch-more-icon.png) center bottom no-repeat;
                                    }
                                }
                            }
                        }
                    }
                    .views-row-odd{
                        .views-field-field-images{
                            float: left;
                            &:before{
                                background: url(../images/ofertas/right-corner.png) center no-repeat;
                                right: 0;
                            }
                        }
                        .views-fieldset{
                            .views-field-title{
                                text-align: left;
                            }
                            .views-field-body{
                                float: left;
                                p{
                                    text-align: left;
                                }
                            }
                            .views-field-view-node{
                                float: left;
                            }
                        }
                    }
                    .views-row-even{
                        .views-field-field-images{
                            float: right;
                            &:before{
                                background: url(../images/ofertas/left-corner.png) center no-repeat;
                                left: -2px;
                            }
                        }
                        .views-fieldset{
                            .views-field-title{
                                text-align: right;
                            }
                            .views-field-body{
                                float: right;
                                p{
                                    text-align: right;
                                }
                            }
                            .views-field-view-node{
                                float: right;
                            }
                        }
                    }
                }
                .pager {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 30px;
                    .pager__item {
                        padding: 1px;
                        margin: 0 5px;
                        a{
                            color: $gris;
                            font: 300 14px $Roboto;
                            transition: all .3s;
                        }
                        a:hover {
                            color: $verdeClaro;
                        }
                    }
                    .pager__item--current {
                        color: $verdeOscuro;
                        font: 500 14px $Roboto !important;
                        border-bottom: solid 2px $verdeOscuro;
                    }
                }
            }
        }
    }
}
//Oferta Contenido Detalle
.node-type-offer{
    .l-main{
        .l-content{
            h1{
                padding-left: 12px;
                margin-right: 12px;
            }
            h2.node__title{
                font: 500 30px $Roboto;
                color: $verdeClaro;
                margin: 20px 0;
            }
            .node__content{
                margin-bottom: 50px;
                #field_images{
                    margin-bottom: 30px;
                    .bx-wrapper{
                        margin-bottom: 20px;
                        &:nth-child(1){
                            .bx-viewport{
                                margin-bottom: 20px;
                                ul{
                                    li{
                                        position: relative;
                                        &:before{
                                            position: absolute;
                                            content: '';
                                            width: 100%;
                                            height: 100%;
                                            background: url(../images/ofertas-detalle/main-image-filter.png) center no-repeat;
                                            top: 0;
                                            left: 0;
                                            pointer-events:none;
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-child(2){
                            .bx-viewport{
                                ul{
                                    li{
                                        position: relative;
                                        img{
                                            opacity: 1;
                                        }
                                        &:before{
                                            position: absolute;
                                            content: '';
                                            width: 100%;
                                            height: 100%;
                                            background: rgba(102, 168, 222, 0.5);
                                            top: 0;
                                            left: 0;
                                            pointer-events:none;
                                            @include transitions;
                                        }
                                        &:hover{
                                            &:before{
                                                background: rgba(102, 168, 222, 0.3);
                                            }
                                        }
                                    }
                                    li.active{
                                        &:before{
                                            opacity: 0;
                                        }
                                    }
                                }
                            }
                        }
                        .bx-has-controls-direction{
                            .bx-controls-direction{
                                a{
                                    top: 48%;
                                }
                                .bx-prev{
                                    left: -73px;
                                    width: 43px;
                                    height: 43px;
                                    background: url(../images/ofertas-detalle/prev-control.png) center left no-repeat;
                                    @include transitions;
                                    &:hover{
                                        background: url(../images/ofertas-detalle/prev-control.png) center right no-repeat;
                                    }
                                }
                                .bx-next{
                                    right: -63px;
                                    width: 43px;
                                    height: 43px;
                                    background: url(../images/ofertas-detalle/next-control.png) center right no-repeat;
                                    @include transitions;
                                    &:hover{
                                        background: url(../images/ofertas-detalle/next-control.png) center left no-repeat;
                                    }
                                }
                            }
                        }
                    }
                }
                .field--name-body{
                    position: relative;
                    margin-bottom: 180px;
                    h2, h3, h4, h5, h6{
                        text-align: center;
                        font: 500 27px $Roboto;
                        color: $naranja;
                    }
                    p{
                        column-count: 2;
                        column-gap: 70px;
                        margin: 0;
                        text-align: justify;
                        font: 200 16px $Roboto;
                        color: $gris;
                        line-height: 35px;
                        strong {
                            color: $naranja;
                            font-weight: bold;
                        }
                        em{
                            color: $naranja;
                            font-style: italic;
                        }
                    }
                    &:before{
                        position: absolute;
                        content: '';
                        left: 0;
                        bottom: -130px;
                        width: 100%;
                        height: 101px;
                        background: url(../images/ofertas-detalle/separator.png) center no-repeat;
                    }
                }
                .field--name-field-tour-information{
                    ol{
                        width: 90%;
                        text-align: center;
                        margin: 0 auto;
                        li{
                            display: inline-block;
                            width: 33%;
                            padding-top: 60px;
                            font: 200 16px $Roboto;
                            color: $gris;
                            &:nth-child(1){
                                background: url(../images/ofertas-detalle/location-icon.png) center top no-repeat;
                            }
                            &:nth-child(2){
                                background: url(../images/ofertas-detalle/temperature-icon.png) center top no-repeat;
                            }
                            &:nth-child(3){
                                background: url(../images/ofertas-detalle/recomendations-icon.png) center top no-repeat;
                            }
                        }
                    }
                }
                .field--name-field-specifications{
                    p{
                        margin-top: 30px;
                        font: 200 16px $Roboto;
                        color: $gris;
                        text-align: left;
                        strong{
                            color: $naranja;
                            font-weight: bold;
                        }
                    }
                    ul{
                        column-count: 2;
                        li{
                            margin-bottom: 14px;
                            line-height: 30px;
                            padding-top: 3px;
                            font: 200 16px $Roboto;
                            color: $gris;
                            text-align: left;
                            position: relative;
                            padding-left: 25px;
                            background: url(../images/bullet.png) center left no-repeat;
                        }
                    }
                }
            }
            .back-button{
                margin-bottom: 50px;
                a{
                    display: inline-block;
                    padding: 27px 7px 0 0;
                    width: 100px;
                    height: 90px;
                    font: 700 13px $Roboto;
                    color: $naranja;
                    text-transform: uppercase;
                    background: url(../images/back-button.png) center no-repeat;
                    position: relative;
                    &:before{
                        position: absolute;
                        content: '';
                        width: 0;
                        height: 100%;
                        background: url(../images/back-button-hover.png) center right no-repeat;
                        pointer-events:none;
                        bottom: 0;
                        right: 0;
                        @include transitions;
                    }
                    &:hover{
                        color: $azul;
                        &:before{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
//Formulario Contactenos
.node-type-webform{
    .l-main{
        .l-content{
            h1{
                padding-left: 111px;
                margin-right: 111px;
            }
            .node__content{
                .field--name-body{
                    display: inline-block;
                    float: left;
                    p{
                        margin: 0;
                        position: relative;
                        &:before{
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            top:0;
                            left: 0;
                            background: rgba(0, 0, 0, 0.2) url(../images/contactenos/map-hover.png) center no-repeat;
                            opacity: 1;
                            pointer-events:none;
                            @include transitions;
                        }
                        &:hover{
                            &:before{
                                opacity: 0;
                            }
                        }
                    }
                }
                .webform-client-form {
                    width: 573px;
                    float: left;
                    padding-left: 30px;
                    .webform-component-textfield, .webform-component-email{
                        margin-left: 0;
                        margin-bottom: 14px;
                        color: $blanco;
                        input{
                            width: 100%;
                            height: 32px;
                            background: $azul;
                            border: none;
                            font: 200 16px $Roboto;
                            color: $blanco;
                            padding: 5px 10px 5px 20px;
                            @include placeholder;
                        }
                    }
                    .webform-component-textarea{
                        textarea{
                            width: 100%;
                            max-width: 100%;
                            max-height: 119px;
                            height: 119px;
                            background: $azul;
                            border: none;
                            font: 200 16px $Roboto;
                            color: $blanco;
                            padding: 5px 10px 5px 20px;
                            @include placeholder;
                        }
                    }
                    .webform-component--container{
                        padding: 0;
                        min-width: 0;
                        border: none;
                        .webform-component-checkboxes{
                            display: inline-block;
                            float: left;
                            width: 15px;
                            margin: 0;
                            .form-type-checkbox{
                                margin: 0;
                                label{
                                    display: none;
                                }
                            }
                        }
                        .webform-component--container--terms-fieldset{
                            border: none;
                            padding: 0;
                            margin: 0;
                            width: 524px;
                            min-width: 0;
                            text-align: left;
                            legend{
                                span{
                                    background: none;
                                    padding: 2px 0 0 9px;
                                    a{
                                        font: 200 16px $Roboto;
                                        color: $naranja;
                                    }
                                }
                            }
                            .fieldset-wrapper{
                                background: $blanco;
                                margin: 14px 14px 24px 8px;
                                height: 300px;
                                overflow-y: scroll !important;
                                h2, h3, h4, h5, h6{
                                    font: 500 24px $Roboto;
                                    color: $verdeClaro;
                                    line-height: 32px;
                                    text-align: left;
                                }
                                p{
                                    font: 300 16px $Roboto;
                                    color: $gris;
                                    line-height: 32px;
                                    text-align: justify;
                                    margin: 15px 0 15px 0;
                                    strong, a, em{
                                        color: $naranja;
                                        font-weight: bold;
                                    }
                                    em, a {
                                        color: $naranja;
                                        font-style: italic;
                                    }
                                }
                                ul{
                                    padding: 0;
                                    width: 94%;
                                    margin: 15px 3%;
                                    li{
                                        width: 100%;
                                        font: 300 16px $Roboto;
                                        color: $gris;
                                        text-align: left;
                                        list-style: none;
                                        line-height: 28px;
                                        position: relative;
                                        &:before{
                                            position: relative;
                                            content: "";
                                            width: 5px;
                                            height: 5px;
                                            background: $gris;
                                            border-radius: 100%;
                                            left: 3px;
                                            margin-right: 15px;
                                            top: 12px;
                                            float: left;
                                        }
                                        a{
                                            color: $naranja;
                                            font-style: italic;
                                        }
                                    }
                                }
                                ol{
                                    counter-reset: numero_parrafo;
                                    padding: 0;
                                    width: 94%;
                                    margin: 15px 3%;
                                    li{
                                        width: 100%;
                                        font: 300 16px $Roboto;
                                        color: $gris;
                                        text-align: left;
                                        list-style: none;
                                        position: relative;
                                        line-height: 28px;
                                        &:before{
                                            position: relative;
                                            content: "" counter(numero_parrafo) ". ";
                                            counter-increment: numero_parrafo;
                                            font-size: 16px;
                                            width: 24px;
                                            left: 0;
                                            top: 0;
                                            float: left;
                                        }
                                        a{
                                            color: $naranja;
                                            font-style: italic;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .form-actions{
                        margin: 15px 0 70px 0;
                        display: inline-block;
                        float: left;
                        width: 129px;
                        height: 32px;
                        text-align: left;
                        position: relative;
                        &:before{
                            position: absolute;
                            width: 32px;
                            height: 32px;
                            content: '';
                            right: 0;
                            top: 0;
                            background: url(../images/contactenos/send-icon.png) center right no-repeat;
                            @include transitions;
                        }
                        input{
                            background: $verdeClaro;
                            font: 200 16px $Roboto;
                            text-transform: uppercase;
                            width: 100%;
                            height: 100%;
                            color: $blanco;
                            padding: 0 22px;
                            text-align: left;
                            border: none;
                        }
                        &:hover{
                            input{
                                background: $naranja;
                            }
                            &:before{
                                background: url(../images/contactenos/send-icon.png) center left no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }
    .l-region--footer{
        position: relative;
        background: $verdeClaro;
        #block-block-3{
            position: initial;
            ul{
                width: 100%;
                margin: 20px 0;
                li{
                    display: inline-block;
                    width: auto;
                    margin: 0 10px;
                }
            }
            ol{
                position: absolute;
                width: auto;
                margin:0;
                top: 10px;
                right: 10px;
            }
            p{
                display: none !important;
            }
        }
    }
    .copy{
        padding: 14px 0 0 0;
        background: $verdeOscuro;
        span{
            a{
                &:hover{
                    color: $beige;
                }
            }
        }
    }
}
//Página de Confirmación
.page-node-15{
    .l-main{
        .l-content{
            h1{
                padding-left: 111px;
                margin-right: 111px;
            }
            .webform-confirmation{
                width: 100%;
                display: inline-block;
                text-align: center;
                h2{
                    font: 600 28px $Roboto;
                    color: $verdeClaro;
                }
                p{
                    font: 300 16px $Roboto;
                    color: $gris;
                }
            }
            .links{
                width: 100%;
                display: inline-block;
                text-align: center;
                margin: 30px 0 50px 0;
                a{
                    background: $verdeClaro;
                    font: 300 20px $Roboto;
                    text-transform: uppercase;
                    color: $blanco;
                    padding: 5px 20px;
                    border: solid 1px $verdeClaro;
                    @include transitions;
                    &:hover{
                        background: $blanco;
                        color: $verdeClaro;
                    }
                }
            }
        }
    }
}
.links.links--inline.node__links{display: none;}
#block-locale-language {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: right;
    .block__content {
        display: inline-block;
        ul{margin-top: 20px;}
        li {
            display: inline-block;
            a{
                font: 300 17px "Roboto", sans-serif;
                color: #ffecc9;
                display: inline-block;
                padding: 3px 0;
                padding-left: 34px;
                margin-left: 21px;
            }
            &:nth-child(1) {
                a{background: url(../images/header/colombia.png) center left no-repeat;}
            }
            &:nth-child(2) {
                a{background: url(../images/header/usa.png) center left no-repeat;}
            }
        }
        .active {
            a{color: #f15a24;}
        }
    }
}
.TA_socialButtonIcon {
    position: fixed;
    top: 30%;
    z-index: 9;
}
@import "base/**/*";
